@charset "UTF-8";

/* Style the bottom navigation bar */
.bottomnav {
  background-color: #a3b18a;  
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;  
  text-align: center;
  font-family: Arial, sans-serif;
  z-index: 9999;  
  height: auto;
}

/* Style the links inside the bottom navigation bar */
.bottomnav a {
  color: #344e41;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
  padding: 0 10px;  
}

/* Style the dash between the links */
.bottomnav ul li {
  display: inline;
  color: #344e41;
  font-size: 17px;
  padding: 0 5px;
}

/* Ensure list styling is removed */
.bottomnav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

/* Hover effect for links */
.bottomnav a:hover {
  color: black;
}
