html {
    background-color: #3a5a40;
    text-align: center;
    font-family: 'Quasimoda';
    color: #dad7cd;
}

/* Reservation Review page */
.room-image {
    max-width: 300px;
    height: auto;
    display: block;
    margin: 20px auto;
}

.reservation-summary {
    padding-bottom: 60px;
}

.button-container {
    margin-top: 20px;
}
