/* Center form fields vertically */
.registration-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

/* Center the footer links */
.footer {
    text-align: center;
    margin-top: 50px;
}

html {
    background-color: #3a5a40;
    text-align: center;
    font-family: 'Quasimoda';
}

html * {
    color: #dad7cd;
}