@charset "ISO-8859-1";


/* Center form fields vertically */
.registration-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.registration-form button {
    display: block;
    margin: 10px auto; /* Center the buttons */
    padding: 10px 20px;
    background-color: #344e41;
    color: #fff;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #588157;
}

.registration-form {
    background-color: #dad7cd; /* Light grey background */
    padding: 15px; /* Space between the image and the box border */
    border: 2px solid #83836c; /* Light grey border */
    border-radius: 5px; /* Rounded corners */
    display: inline-block; /* Ensure the box fits around the image */
    margin: 20px; /* Space around each box */
    text-align: center; /* Center the content */
}

.registration-form label {
	color: #344e41;
}

.registration-form h2 {
	color: #344e41;
}

.registration-form input {
    border: 2px solid #83836c;
    border-radius: 2px;
    color: black;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}