@charset "ISO-8859-1";

/* Navbar container. The box around the top bar.*/
.navbar {
  background-color: #a3b18a; /* Adds the background color of the top bar box. */
  overflow: hidden;
  padding: 5px; /* Adds 5px padding to the elements in the top bar */
  border: 2px solid #83836c; /* Adds a border to the top bar box. */
  font-family: 'Quasimoda';
}

/* Modifies the links inside the navbar */
.navbar a {
  float: left; /* Positions the links to the left. */
  color: #344e41; /* Changes the font color */
  text-align: center; /* Aligns the text to the center of the link */
  padding: 20px 16px; /* Makes the link a 20px by 16px box */
  text-decoration: none;
  font-weight: bold; /* Bolds the text */
  font-size: 17px; /* Changes the font size */
}

.navbar img{
	float: left; /* Positions the image to the left */
	height: 60px; /* Height and widths sets the size of the image */
	width: 90px;
	padding-right: 10px; /* Adds padding around the image */
}

.username {
	float:left;
	color: #344e41; /* Changes the font color */
  	text-align: center; /* Aligns the text to the center of the link */
  	padding: 20px 16px; /* Makes the link a 20px by 16px box */
  	text-decoration: none;
  	font-weight: bold; /* Bolds the text */
  	font-size: 17px; /* Changes the font size */
  	overflow: hidden; /* Clear the float */
}
/* The dropdown container for the dropdown links */
.dropdown {
  float: right; /* Floats the dropdown container to the right */
  overflow: hidden;
}

/* Dropdown button. */
.dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: #a3b18a;
}

.dropdown .dropbtn {
float: center;
}

/* Add a background color to the navbar links when hovering. */
.navbar a:hover, .dropdown:hover .dropbtn{
  background-color: #dad7cd;
}

/* Add a background color to the navbar links when hovering. */
.dropdown:hover .dropbtn{
  background-color: #dad7cd;
}

/* Dropdown content. Shows when hovering over button. */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #a3b18a; /* Adds background to dropdown box. */
  min-width: 160px; /* Forces minimum width of the box */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Adds a shadow to the box */
  z-index: 1;
  border: 2px solid #83836c; /* Adds a 2px border to the box */
  right: 8px; /* Positions box to match up with edge of navbar */
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #344e41; /* Adds color to the links in the dropdown bar */
  padding: 12px 16px; /* Adds padding to links in the dropdown bar */
  text-decoration: none;
  display: block;
  text-align: left; /* Aligns the text to the left */
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}